@import "compass/css3";
@import "base/base";  
@import "vendors/bootstrap-sass/bootstrap-sass";
@import "layout/desktop"; 
@import "layout/layout";
@import "vendors/grocery_store/flexslider";
@import "vendors/grocery_store/style"; 
@import "vendors/font-awesome/font-awesome";
@import "layout/site/desktop_menu"; 
@import "vendors/font-awesome/icons_awesome";
@import "vendors/hamburgers/hamburgers";
@import "layout/tablet";  
@import "layout/site/mobile_menu"; 
@import "vendors/lightslider/main_slider";
.lSAction>.lSNext{
    background: url('http://localhost:8080/supermercado-sm/resources/images/btn_next.png') no-repeat;
    background-size: contain;
    width: 120px;
    height: 120px; 
}
.lSAction>.lSPrev{
    background: url('http://localhost:8080/supermercado-sm/resources/images/btn_prev.png') no-repeat;
    background-size: contain;
    width: 120px;
    height: 120px; 
}