*{
    text-decoration: none;
    font-family: 'Quicksand-Light', Verdana, sans-serif;
}
a:link:hover, a:visited:hover{
	text-decoration:none;
	color:inherit !important;
}
.w3l_offers{
    max-width: 200px;
}
.img_provider{
    max-width: 290px;
    float: left;position: relative;
    height: auto;margin: 5px;
}
aside.menu-nav-top{
    ul#user_options.user_options{
        li{
            a{
                &.user_account_btn{
                    background: #000;
                    color: #fff;
                    height: 43px;
                    width: 50px;
                    text-align: center;
                    border: 1px solid #84c639;
                    &:hover{
                        background: #000;
                        color: #fff;
                    }
                }
                i{
                    &.user_icon{
                        color: #fff;
                        font-size: 27px;
                        &:hover{
                            color: #fff;
                        }
                    }//end ul#user_options.user_options li a i.user_icon
                }//end ul#user_options.user_options li a i
                span{

                    &.caret{
                        color: #fff;font-size: 19px;
                        &:hover{
                            color: #fff;
                        }
                    }//end ul#user_options.user_options li a span.caret
                }//end ul#user_options.user_options li a span
            }//end ul#user_options.user_options li a
        }//end ul#user_options.user_options li
    }//End ul#user_options.user_options
}
aside.product_list_header{
    button{
        &.btn_view_cart{
            background: #000;
            border: 1px solid #84c639;
            width: 150px;
            p,i{
                color: #fff;
                font-size: 13px;
            }
            p{
                float: left
            }
            i{
               font-size: 29px;
                float: right
            }
        }
    }
}
